streamlit
langchain==0.3.15
langchain-community==0.3.15
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-core
langsmith==0.1.147
sentence-transformers
faiss-cpu
pypdf
python-dotenv